/*-- scss:defaults --*/

.reveal .slide-logo {
   max-height: 6vh !important;
}

// fonts
$robo: "Roboto Condensed", serif;
$font-family-sans-serif: $robo;

// headings
$presentation-heading-font: $robo;
$presentation-heading-color: #cab319ff !default;