/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.reveal .slide-logo {
   max-height: 6vh !important;
}
// colors
$theme5126-1: #ffe771ff;
$theme5126-2: #F66451ff;
$theme5126-3: #333333ff;
$theme5126-4: #708B75ff;
$theme5126-5: #FAF0CAff;

// fonts
$robo: "Roboto Condensed", serif;
$font-family-sans-serif: $robo;

// headings
$presentation-heading-font: $robo;
$presentation-heading-color: #333333ff !default;


/*-- scss:rules --*/

// slide formatting
.bkrd-color-1 {
  background-color: $theme5126-1 !important; 
}
.bkrd-color-2 {
  background-color: $theme5126-2 !important; 
}
.bkrd-color-3 {
  background-color: $theme5126-3 !important; 
}
.bkrd-color-4 {
  background-color: $theme5126-4 !important; 
}
.bkrd-color-5 {
  background-color: $theme5126-5 !important; 
}

// round image border
.rnd-img {
  border-radius: 20px; /* Rounds all corners by 10 pixels */
}

// font customizations
.tiny-text {
  font-size: 0.5em;
  font-weight: 300;
}

.med-text {
   font-size: 1.5em
}

.big-text {
   font-size: 4em
}

.highlight-tomato {
  color: $theme5126-2;
  font-weight: 600
}

.custom-small table {
   font-size: .75em
}


.center-x {
          margin: 0;
          position: absolute;
          // top: 50%;
          left: 50%;
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }

.center-xy {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.margin-1 {
  // display: inline-block;
  margin-right: 1em;
}

.indented-text {
  margin-left: 3em;
}

.box-1-list {
    margin: 1em 0;
    border-radius: 15px;
    padding: 0.25em;
        padding-left: 1em;
    background-color: #ffe77170;
}

.box-2-list {
    margin: 1em 0;
    border-radius: 15px;
    padding: 0.25em;
        padding-left: 1em;
    background-color: #F6645170;
}

.box-3-list {
    margin: 1em 0;
    border-radius: 15px;
    padding: 0.25em;
        padding-left: 1em;
    background-color: #33333370;
}

.box-4-list {
    margin: 1em 0;
    border-radius: 15px;
    padding: 0.25em;
        padding-left: 1em;
    background-color: #708B7570;
}

.box-5-list {
    margin: 1em 0;
    border-radius: 15px;
    padding: 0.25em;
        padding-left: 1em;
    background-color: #FAF0CA70;
}

.box-6-list {
    margin: 1em 0;
    border-radius: 15px;
    padding: 0.25em;
        padding-left: 1em;
    background-color: #FFF8F0;
    border-color: #333333ff;
}